<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="unitepc_boliviaConnectionString" connectionString="Data Source=DESKTOP-7SOEB2N;Initial Catalog=unitepc_bolivia;Integrated Security=True;TrustServerCertificate=True;"
      providerName="System.Data.SqlClient" />
    <add name="moodleConnectionString" connectionString="Data Source=DESKTOP-7SOEB2N;Initial Catalog=moodle;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
		  <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="40960" executionTimeout="360"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ParaControlWebSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="ParaControlWebSoap1" maxReceivedMessageSize="2147483647"/>
        <binding name="WebServiceSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="WEB_SERVICE_SEGUIMIENTOSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.87.177.114:27272/ParaControlWeb.asmx" binding="basicHttpBinding" bindingConfiguration="ParaControlWebSoap" contract="wsr.ParaControlWebSoap" name="ParaControlWebSoap"/>
      <endpoint address="http://192.168.1.172:27272/ParaControlWeb.asmx" binding="basicHttpBinding" bindingConfiguration="ParaControlWebSoap1" contract="wsr2.ParaControlWebSoap" name="ParaControlWebSoap1"/>
      <endpoint address="http://192.168.1.172:28282/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="wsr3.WebServiceSoap" name="WebServiceSoap"/>
      <endpoint address="http://192.168.50.13:9095/Service.asmx" binding="basicHttpBinding" bindingConfiguration="WEB_SERVICE_SEGUIMIENTOSoap" contract="sr1.WEB_SERVICE_SEGUIMIENTOSoap" name="WEB_SERVICE_SEGUIMIENTOSoap"/>
    </client>
  </system.serviceModel>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="sesion.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings/>
</configuration>