body {
}


#main-header{
  position: fixed;
  top:0;
    left: -17px;
    width: 1039px;
}
 * html body{
  overflow:hidden;
 }
 #contenido{
  height:100%;
  overflow:auto;
  padding-top:100px;

 }
 #contenido-header{
     height:100%;
 }